body{
    display: flex;
    flex-direction: column;
    text-align: center;

    background-color: dimgray;
    font-family: "Lucida Console", Monaco, monospace;
}
h1{
    margin: auto;
    margin-bottom: 20px;
}
#pageContainer{
    display: flex;
    flex-direction: column;
    border: 1px black solid;
}
#drawBox{
    display: flex;
    width: 600px;
    height: 600px;
    align-content: center;
    margin: auto;

    background-color: whitesmoke;
    border: 1px black solid;
}
#spantry{
    display: flex;
    line-height: 1;
}